/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
$use-grids:         true;
$use-nav:           true;
$use-flexbox:       false;
$use-columns:       false;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;


/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
$lap-start: 580px;

/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/

// general
$font: 'Londrina Solid', cursive;
$font-readable: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
$color-red: rgb(223, 3, 3);

// navigation
$nav-bg-color: $color-red;
$nav-font: $font;
$nav-font-size: 24px;
$nav-font-color: #fff;
$nav-font-color-inverted: $nav-bg-color;
$nav-bg-color-inverted: $nav-font-color;


