body {
	background-image: linear-gradient(bottom, rgb(242,242,239) 14%, rgb(255,255,255) 74%, rgb(255,255,255) 87%);
	background-image: -o-linear-gradient(bottom, rgb(242,242,239) 14%, rgb(255,255,255) 74%, rgb(255,255,255) 87%);
	background-image: -moz-linear-gradient(bottom, rgb(242,242,239) 14%, rgb(255,255,255) 74%, rgb(255,255,255) 87%);
	background-image: -webkit-linear-gradient(bottom, rgb(242,242,239) 14%, rgb(255,255,255) 74%, rgb(255,255,255) 87%);
	background-image: -ms-linear-gradient(bottom, rgb(242,242,239) 14%, rgb(255,255,255) 74%, rgb(255,255,255) 87%);

	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0.14, rgb(242,242,239)),
	  color-stop(0.74, rgb(255,255,255)),
	  color-stop(0.87, rgb(255,255,255))
	);
}

ul, li {
  list-style-type: none;
}

ul, pre, code {
  margin: 0;
  padding: 0;
}

pre {
  background: black !important;
  border-radius: 15px;
}

.quote {
  font-family: 'Londrina Solid', cursive;
  font-size: 40px;
  line-height: 35px;
  margin-bottom: 20px;
}

.wrapper {
	max-width: 1000px;
	margin: auto;
	vertical-align: center;
}

/* Subpage iScroll */
#content {
	position: absolute;
	z-index: 1;
	overflow: hidden;
	height: 90%;
	width: 80%;
	padding-left: 0;
}

#scroller {
	position: absolute;
	z-index: 1;
	width: 99%;
}

#footer {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
}


@media all and (max-width: 1200px) and (min-width: 1000px) {
	.wrapper {
		width: 900px;
	}
}

@media all and (max-width: 1000px) and (min-width: 800px) {
	.wrapper {
		width: 800px;
	}
}

@media all and (max-width: 800px) {
	.wrapper {
		width: auto;
	}
}