body {
	background-color: #fff;
	font-family: $font-readable;
}

ul, pre, code {
  margin: 0;
  padding: 0;
}

a {
    color: $color-red;
    font-family: $font-readable;
//    font-size: 20px;
    text-decoration: none;
}

pre {
  background: black !important;
  border-radius: 15px;
}

.quote {
  font-family: $font;
  font-size: 40px;
  line-height: 35px;
  margin-bottom: 20px;
}

.wrapper {
	max-width: 1000px;
	margin: auto;
	vertical-align: center;
}

/* Subpage iScroll */
#content {
	position: absolute;
	z-index: 1;
	overflow: hidden;
	height: 80%;
	left: 250px;
	top: 90px;
	width: 82%;
}

#scroller {
	position: absolute;
	z-index: 1;
	width: 97%;
}

#footer {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
}


@media all and (max-width: 1400px) and (min-width: 1200px) {
	.wrapper {
		width: 900px;
	}

	.wrapper.centered {
		max-width: 800px;
	}

	#content {
		width: 80%;
		height: 80%;
	}

	#scroller {
		width: 93%;
	}
}

@media all and (max-width: 1200px) and (min-width: 1000px) {
    .wrapper {
        width: 900px;
    }

    .wrapper.centered {
        max-width: 800px;
    }

    #content {
        width: 70%;
        height: 80%;
    }

    #scroller {
        width: 90%;
    }
}

@media all and (max-width: 1000px) and (min-width: 800px) {
	.wrapper {
		max-width: 700px;
	}

	.wrapper.centered {
		max-width: 688px;
	}

	#content {
		width: 69%;
		height: 82%;
	}

	#scroller {
		width: 93%;
	}
}

@media all and (max-width: 800px) and (min-width: 720px) {
	.wrapper {
		width: 750px;
	}

	.wrapper.centered {
		width: 620px;
	}

	#content {
		width: 80%;
		height: 75%;
		left: 110px;
	}

	#scroller {
		width: 95%;
	}

	code, kbd, pre, samp {
		font-size: 0.8em;
	}

}

@media all and (max-width: 720px) and (min-width: 600px) {
	.wrapper {
		width: auto;
	}

	.wrapper.centered {
		width: auto;
	}

	#content {
		left: 0;
		top: 50px;
		width: 95%;
		height: 75%;
	}

	#scroller {
		width: 93%;
	}

	code, kbd, pre, samp {
		font-size: 0.8em;
	}
}

@media all and (max-width: 770px) and (min-height: 820px) {
	#content {
		height: 85%;
	}
}

@media all and (max-width: 770px) and (max-height: 820px) {
	#content {
		height: 75%;
	}
}

@media all and (max-width: 600px) and (min-width: 481px) {
	.wrapper.centered {
		width: 85%;
	}

	.wrapper {
		width: auto;
	}

	#content {
		left: 0;
		top: 50px;
		width: 93%;
		height: 74%;
	}

	#scroller {
		width: 93%;
	}

	code, kbd, pre, samp {
		font-size: 0.7em;
	}
}

@media all and (max-width: 480px) {

	.wrapper.centered {
		width: 90%;
	}

	#content {
		position: static;
		height: 90%;
		width: 87%;
		overflow: auto !important;
	}

	#scroller {
		position: static;
		width: 97%;
	}

	#footer {
		position: static;
	}

	code, kbd, pre, samp {
		font-size: 0.6em;
	}
}


@media all and (min-height: 320px) and (max-height: 820px) {
    #content {
        height: 80%;
    }

    #scroller {
        width: 80%;
    }

    #sidenav {
        height: 80% !important;
    }
}

