.developer-preview {
  color: #4266a2;
  font-family: 'Londrina Solid', cursive;
  margin-bottom: 10px;
  margin-left: 4px;
  font-size: 20px;
}

.footer {
  margin: 75px 0 0 0;
  font-family: $font;
  font-size: 20px;
  background: rgb(66,102,162);
  text-align: center;
}

.footer__author {
  display: inline-block;
  margin-left: 20px;
}

.footer__link {
  font-family: $font;
  text-decoration: none;
  color: yellow;
}

@media only screen and (max-width: $lap-start) {
  .footer__author {
	display: block;
	margin: 0;
  }
}
