h1 {
  color: rgb(223, 3, 3);
  font-family: $font;
  font-size: 116px;
}

h2 {
  font-family: $font;
  font-size: 40px;
}

h3 {
  margin-top: 20px;
}

@media all and (max-width: 1000px) and (min-width: 800px) {
	h1 {
	  font-size: 78px;
	}
}

@media all and (max-width: 800px) and (min-width: 600px) {
	h1 {
	  font-size: 70px;
	}
}

@media all and (max-width: 600px) {
	h1 {
	  font-size: 60px;
	}
}