.browser-logo.first {
  margin-left: 25px;
}

.browser-logo {
  margin-right: 20px;
  width: 70px;
}

.browser-logo.last {
  margin-right: 0;
}

.dalek-logo {
  float: right;
  margin-top: -419px;
}

.dalek-logo img {
  height: 50%;
  width: 50%;
}