.code {
  min-height: 280px;
  max-width: 490px;
  padding-left: 0px;
  margin-left: -6px;
}

.cmd-output {
	max-width: 470px;
}

.code-intro li, .video-intro li {
  cursor: pointer;
}

.code-intro .active-entry, .video-intro .active-entry{
  cursor: default;
  color: red;
}

.code-intro ul {
//  font-family: $font;
  font-size: 22px;	
}
.video-intro ul {
	font-size: 22px;
}
.code-intro ul, .video-intro ul {
//  font-family: $font;
//  font-size: 26px;
  padding-right: 10px;

  > li {
    list-style: disc;
  }
}

.video {
  position: relative;
  padding-bottom: 42.25%; /* 16:9 ratio */
  height: 0;
  left: 130px;
}

.video__frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 300px;
}

// code related shit
.code-thingie, .dalek-shell {
  border-radius: .5em;
  border: .3em solid hsl(0,0%,33%);
  box-shadow: 1px 1px .5em black inset;
  margin: .5em 0;
  overflow: auto;
  padding: 1em;
}

.own-shell {
  direction: ltr;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  text-align: left;
  text-shadow: 0 -.1em .2em black;
  white-space: pre;
  word-spacing: normal;
}

.token.shell-icon {
//  color: purple;
	color: #fff;
  @extend .own-shell;
}

.token.shell-dalek {
  color: lime;
  @extend .own-shell;
}

.token.shell-npm, .token.shell-browser {
  color: yellow;
  @extend .own-shell;
}

.token.shell-rt {
  color: magenta;
  @extend .own-shell;
}

.token.shell-tt {
  color: cyan;
  @extend .own-shell;
}

.token.shell-sg {
  color: lime;
  @extend .own-shell;
}

.token.shell-action {
  color: orange;
  @extend .own-shell;
}

.token.shell-suc {
  color: white;
  background-color: lime;
  @extend .own-shell;
  text-shadow: none;
}


@media all and (max-width: 1415px) {
  .code {
    padding-left: 24px;
    margin-left: 0px;
  }
}

@media all and (max-width: 800px) {
  .code {
    max-width: 420px;
    padding-left: 24px;
    margin-left: 0px;
  }

  .video {
    left: 80px;
  }
}

@media all and (max-width: 600px) and (min-width: 481px) {

  .video {
    left: 10px;
  }

  .code {
    min-height: 180px;
    padding-left: 24px;
    margin-left: 0px;
  }

}


@media all and (max-width: 480px) {

  .video {
    left: 10px;
  }

  .code {
    min-height: 120px;
    padding-left: 24px;
    margin-left: 0px;
  }

  .video__frame {
    max-width: 90% !important;
  }

}