// info box
.info-box {
  border-radius: 15px;
  background: rgb(66,102,162);
  font-family: $font;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: $base-line-height;

  .catchy {
    color: #fff;
    font-size: 32px;
    line-height: 1.2;
  }

  .feature-list {
    font-size: 28px;
  }

  .feature-list li {
    color: yellow;
    list-style-type: disc;
    margin-left: 25px;
  }

}

@media all and (max-width: 820px) and (min-width: 720px) {
  .info-box {
    width: 85%;
    margin-left: 5%;
  }
}

@media all and (max-width: 720px) {
  .info-box {
    width: 85%;
    margin-left: 10%;
  }
}
