.sidenav {

	padding: 0;
	margin: 0;
	margin-top: 40px;

	ul.sticky {
		position: fixed;
	}

	li {
		background-color: #000;
		font-family: $font;
		font-size: 22px;
		border-bottom: 1px #fff solid;
		padding-right: 10px;
	}

	li a {
		margin-left: 10px;
		color: $nav-font-color;
		text-decoration: none;
	}

	li.active a{
		color: yellow;
	}
}

/* Subpage iScroll */
#sidenav {
	position: absolute;
	z-index: 1;
	width: 250px;
	overflow: hidden;
	height: 90%;
}

@media all and (max-width: 1000px) and (min-width: 800px) {
	#sidenav {
		height: 80%;
	}
}

@media all and (max-width: 800px) {
	#sidenav {
		display: none;
	}
}